<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD || Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/tachyons.css">
</head>
<body>
<header class="w-100 bg-washed-blue pv2 ph2 ph5-ns tc">
    <div class="w-50 dib tc">
        <h1>Login Page</h1>
    </div>
</header>
<section class="w-100 bg-light-gray tc vh-75"
         style="background-image: linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)">
    <div class="w-60 dib">
        <form method="post" action="/login">
            <div class="pv2 mv2"><input class="b--white=10 br2 w-auto" type="text" name="username"
                                        placeholder="username"></div>
            <div class="pv2 mv2"><input class="b--white=10 br2 w-auto" type="password" name="password"
                                        placeholder="password"></div>
            <div class="pv2 mv2"><input class="f5 fw6 dib ba b--black-20 bg-blue white ph4 pv2 br2 grow" type="submit"
                                        value="Login"></div>
        </form>
    </div>
</section>
</body>
</html>